# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv(r'../Homework/data/2022_dec_raw.csv', sep = ';')
df.head()

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,...,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю
0,11.30.2022 10:26:37,"Так, працюю part-time",В Україні,Івано-Франківськ чи область,4000,Чоловік,29,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blockchain,Стартап,8 років
1,11.30.2022 10:26:39,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,NaN,Чоловік,36,"Вища (бакалавр, спеціаліст, магістр)",Немає,Advanced,...,NaN,NaN,NaN,NaN,NaN,Ruby,Full Stack розробка,Public services / Government,Продуктова,3 роки
2,11.30.2022 10:26:58,"Так, працюю full-time",В Україні,Київ чи область,2500,Чоловік,34,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,...,NaN,NaN,NaN,NaN,NaN,C# / .NET,Full Stack розробка,"Adtech / Advertising, Security, Telecom",Продуктова,4 роки
3,11.30.2022 10:27:31,"Так, працюю full-time",В Україні,Львів чи область,500,Жінка,23,"Вища (бакалавр, спеціаліст, магістр)",Немає,Pre-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Telecom,Продуктова,Пів року
4,11.30.2022 10:27:34,"Ні, тимчасово не працюю",В Україні,Житомир чи область,2800,Жінка,33,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Automotive,Продуктова,6 років

2. Які колонки мають дані?

In [21]:
print(list(df.columns))

['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ', 'В якій області ви зараз живете?', 'Зарплата у $$$ за місяць, лише ставка після сплати податків', 'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Чи є у вас науковий ступінь? ', 'Знання англійської мови', 'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація', 'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію', 'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4', 'Ваша посада5', 'Ваша посада6', 'Ваша посада7', 'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?', 'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію', 'В якій сфері працюєте?', 'Тип компанії', 'Загальний стаж роботи за спеціальністю']

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [22]:
print(f'Даний набір данних має {df.shape[0]} рядків та  {df.shape[1]} колонок')
print(df.isna().sum())

Даний набір данних має 13315 рядків та  28 колонок
Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [23]:
df_na = df.isna().sum()
for x, y in  df_na.items():
    if y == 0:
       print(x)

Timestamp
Ви працюєте зараз в ІТ?
Де ви зараз живете?
Ваша стать
Ваш вік
Яка у вас освіта?
Знання англійської мови
Оберіть вашу посаду
Ваш тайтл
В якій сфері працюєте?
Тип компанії
Загальний стаж роботи за спеціальністю

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [24]:
print(df.dtypes)

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [25]:
df['Ваш вік'] = df['Ваш вік'].apply(lambda x: x.replace(',', '.')).astype('float');

In [26]:
df['Зарплата у $$$ за місяць, лише ставка після сплати податків'].fillna('0', inplace = True)
df['Зарплата у $$$ за місяць, лише ставка після сплати податків'] = df['Зарплата у $$$ за місяць, лише ставка після сплати податків'].apply(lambda x: x.replace(',','.')).astype('float');

In [ ]:
#df['Зарплата у $$$ за місяць, лише ставка після сплати податків'].unique()

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу. 
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

In [27]:
from datetime import datetime
display(df.Timestamp)

0        11.30.2022 10:26:37
1        11.30.2022 10:26:39
2        11.30.2022 10:26:58
3        11.30.2022 10:27:31
4        11.30.2022 10:27:34
                ...
13310       01.09.2023 11:01
13311       01.09.2023 11:14
13312       01.09.2023 11:19
13313       01.09.2023 11:28
13314       01.09.2023 11:38
Name: Timestamp, Length: 13315, dtype: object

In [28]:
def func_time(str_time:str):
    if len(str_time) == 18:
        str_time =' 0'.join(str_time.split(' '))
    else:
        if len(str_time) == 16:
           str_time = ':'.join([str_time,'00'])
       
    return datetime.strptime (str_time,"%m.%d.%Y %H:%M:%S")

In [29]:
df.Timestamp = df.Timestamp.apply(func_time)
display(df.Timestamp)

0       2022-11-30 10:26:37
1       2022-11-30 10:26:39
2       2022-11-30 10:26:58
3       2022-11-30 10:27:31
4       2022-11-30 10:27:34
                ...
13310   2023-01-09 11:01:00
13311   2023-01-09 11:14:00
13312   2023-01-09 11:19:00
13313   2023-01-09 11:28:00
13314   2023-01-09 11:38:00
Name: Timestamp, Length: 13315, dtype: datetime64[ns]

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [30]:
print(df.dtypes)

Timestamp                                                                     datetime64[ns]
Ви працюєте зараз в ІТ?                                                               object
Де ви зараз живете?                                                                   object
В якій області ви зараз живете?                                                       object
Зарплата у $$$ за місяць, лише ставка після сплати податків                          float64
Ваша стать                                                                            object
Ваш вік                                                                              float64
Яка у вас освіта?                                                                     object
Чи є у вас науковий ступінь?                                                          object
Знання англійської мови                                                               object
Оберіть вашу посаду                                                                   object
Ваш тайтл                                                                             object
Ваша спеціалізація                                                                    object
Вкажіть вашу спеціалізацію                                                            object
Оберіть вашу спеціалізацію                                                            object
Ваша посада                                                                           object
Оберіть вашу посаду2                                                                  object
Ваша посада3                                                                          object
Ваша посада4                                                                          object
Ваша посада5                                                                          object
Ваша посада6                                                                          object
Ваша посада7                                                                          object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?            object
Основна мова програмування                                                            object
Вкажіть вашу основну спеціалізацію                                                    object
В якій сфері працюєте?                                                                object
Тип компанії                                                                          object
Загальний стаж роботи за спеціальністю                                                object
dtype: object

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [31]:
for el in df.columns:
    if df.dtypes[el] == 'object':
        display(df[el].value_counts().sort_values(ascending=False)[:10])
        display('______________________________________________________________________________________')

Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: count, dtype: int64

'______________________________________________________________________________________'

Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: count, dtype: int64

'______________________________________________________________________________________'

В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша стать
Чоловік    10221
Жінка       3094
Name: count, dtype: int64

'______________________________________________________________________________________'

Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: count, dtype: int64

'______________________________________________________________________________________'

Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: count, dtype: int64

'______________________________________________________________________________________'

Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: count, dtype: int64

'______________________________________________________________________________________'

Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: count, dtype: int64

'______________________________________________________________________________________'

Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: count, dtype: int64

'______________________________________________________________________________________'

Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: count, dtype: int64

'______________________________________________________________________________________'

Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: count, dtype: int64

'______________________________________________________________________________________'

Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: count, dtype: int64

'______________________________________________________________________________________'

Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: count, dtype: int64

'______________________________________________________________________________________'

Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
TypeScript    1179
C# / .NET     1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: count, dtype: int64

'______________________________________________________________________________________'

Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: count, dtype: int64

'______________________________________________________________________________________'

В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: count, dtype: int64

'______________________________________________________________________________________'

Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: count, dtype: int64

'______________________________________________________________________________________'

Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: count, dtype: int64

'______________________________________________________________________________________'

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [32]:
df.groupby('Знання англійської мови')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].mean()

Знання англійської мови
Advanced              3827.973200
Elementary            1546.985663
Intermediate          2513.998845
Pre-Intermediate      1827.404283
Upper-Intermediate    3533.794330
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати. 
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [33]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'], 
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'], 
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [34]:
pivot = df.pivot_table(index=['Знання англійської мови'],columns=['Ваш тайтл'], values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'], aggfunc= 'mean', observed = True)
pivot

                        Зарплата у $$$ за місяць, лише ставка після сплати податків  \
Ваш тайтл                                                            Intern/Trainee
Знання англійської мови
Elementary                                                      643.750000
Pre-Intermediate                                                452.607843
Intermediate                                                    457.600000
Upper-Intermediate                                              512.913793
Advanced                                                        856.944444

                                                                             \
Ваш тайтл                     Junior Немає тайтлу       Middle       Senior
Знання англійської мови
Elementary                780.652174   941.171429  1741.564103  3020.724138
Pre-Intermediate          845.479621  1340.421053  1948.425129  3485.138889
Intermediate              973.613113  1989.105263  2322.011555  4160.372363
Upper-Intermediate       1035.041979  2171.305405  2648.507034  4833.935618
Advanced                 1093.056604  2909.096774  2662.785099  4881.596916

                                                                           \
Ваш тайтл                  Tech Lead    Team Lead  Architect         Head
Знання англійської мови
Elementary               5000.000000  2689.083333        NaN  1566.666667
Pre-Intermediate         3648.600000  3285.000000  2907.5000  3133.333333
Intermediate             4924.727273  3864.982063  5643.1250  3661.338983
Upper-Intermediate       5719.720307  4503.316964  6585.3125  4333.178947
Advanced                 6134.464789  4798.580420  7209.5000  5277.884615


Ваш тайтл                    Manager
Знання англійської мови
Elementary               1264.000000
Pre-Intermediate         1836.214286
Intermediate             2710.666667
Upper-Intermediate       3860.177215
Advanced                 4185.184341

Як бачимо, що рівень англійської мови на пряму впливає на рівень ЗП. І тим більше, чим вище рівень знання іноземної мови.

13. Виведіть результат методу describe() для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [35]:
top_district = df['В якій області ви зараз живете?'].value_counts().sort_values(ascending=False)[:5]
for el in top_district.index:
    print (el)
    display(df[df['В якій області ви зараз живете?'] == el]['Зарплата у $$$ за місяць, лише ставка після сплати податків'].describe())
    display('______________________________________________________________________________________')

Київ чи область

count     4411.000000
mean      3141.810209
std       2039.859712
min         80.000000
25%       1500.000000
50%       2800.000000
75%       4500.000000
max      16000.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

'______________________________________________________________________________________'

Львів чи область

count     2353.000000
mean      3121.441751
std       2102.721295
min        150.000000
25%       1375.000000
50%       2700.000000
75%       4500.000000
max      14000.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

'______________________________________________________________________________________'

Дніпро чи область

count      751.000000
mean      2582.584554
std       1864.711284
min        100.000000
25%       1025.000000
50%       2000.000000
75%       3600.000000
max      12000.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

'______________________________________________________________________________________'

Івано-Франківськ чи область

count      478.000000
mean      2705.257322
std       1905.673385
min        200.000000
25%       1200.000000
50%       2372.500000
75%       3775.000000
max      12436.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

'______________________________________________________________________________________'

Вінниця чи область

count      447.000000
mean      2888.306085
std       1902.668331
min        100.000000
25%       1300.000000
50%       2612.000000
75%       4100.000000
max      11675.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

'______________________________________________________________________________________'

Якщо проаналізувати топ-5 областей, то можна виділити 2 групи.До першої групи включимо лідерів відбору, тобто Київську область та Львівську, а до другої - усіх інших. Я вважаю, що проживання в областях з одної групи не впливає на рівень ЗП суттєво, але різниться серед груп.

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [48]:
cat_order = ['Менше як 3 місяці', '3 місяці', 'Пів року', '1 рік', '1,5 року', '2 роки', '3 роки', '4 роки', '5 років', '6 років', '7 років', '8 років', '9 років', '10 років', '11 років', '12 років', '13 років', '14 років', '15 і більше років']

df['Загальний стаж роботи за спеціальністю'] = pd.Categorical(df['Загальний стаж роботи за спеціальністю'], 
                      categories = cat_order,
                      ordered=True)

In [57]:
df.groupby('Загальний стаж роботи за спеціальністю', observed=False)['Зарплата у $$$ за місяць, лише ставка після сплати податків'].mean()

Загальний стаж роботи за спеціальністю
Менше як 3 місяці    1706.165346
3 місяці              848.613924
Пів року             1010.133479
1 рік                1164.144252
1,5 року             1371.343892
2 роки               1948.502327
3 роки               2569.888383
4 роки               3106.604699
5 років              3656.852702
6 років              4043.272597
7 років              4335.673831
8 років              4606.463138
9 років              4619.065476
10 років             4502.442104
11 років             4976.751073
12 років             4694.373786
13 років             4483.525773
14 років             5240.312500
15 і більше років    4546.844710
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Таким чином, виходить, що загалом рівень ЗП є у прямій залежності від загального стажу роботи. Окремо хочу звернути увагу, що рівень ЗП для наймолодших спеціалістів (тих, у яких стаж роботи до 3-х місяців),  значно вищий за тих,  які працювали менше 2-х років.Це може свідчити про те, що відбувся загальний ріст ЗП у галузі, а, як відомо, ріст ЗП вже зайнятих людей має наздоганяючий характер. Інший цікавий факт - це те, що рівень ЗП найдосвідченіших працівників нижчий за працівників  із 8-річним стажем. Для мене цей факт свідчить про те, що в період с 10 до 15 років відбувається певне виснаження працівників, вони більш цінують свій час і менш вмотивовані грошима,тому, можливо, не беруть додаткову роботу, наприклад.

Далі тут можна зробити багато аналогічних агрегацій, проаналізувати, в який час люди заповнювали форму, хто більше отримує, Business Analyst, чи Data Analyst. Я вас заохочувати не стримувати свій інтерес і покапати ці дані далі :)

Далі, наприклад, допоможемо прийняти рішення у гіпотетичній ситуації: Є людина, яка планує з мінімальними знаннями і рівнем англійської мови ('Elementary') увійти в галузь. Проаналізуємо напрямок, в якому на старті можно отримувати найбільшу ЗП.

In [89]:
df_new = pd.concat([df[df['Загальний стаж роботи за спеціальністю'] == 'Менше як 3 місяці'],
                   df[df['Загальний стаж роботи за спеціальністю'] == '3 місяці'],
                   df[df['Загальний стаж роботи за спеціальністю'] == 'Пів року']])


pivot = df_new.pivot_table(index=['Вкажіть вашу основну спеціалізацію'],columns=['Загальний стаж роботи за спеціальністю'], values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'], aggfunc= 'mean', observed = True)
pivot

                                       Зарплата у $$$ за місяць, лише ставка після сплати податків  \
Загальний стаж роботи за спеціальністю                                           Менше як 3 місяці
Вкажіть вашу основну спеціалізацію
Back-end  розробка                                                            2573.309859
DevOps                                                                        1150.000000
Embedded                                                                      1200.000000
Front-end  розробка                                                           2217.017241
Full Stack розробка                                                           2105.510204
Mobile  розробка                                                              2878.000000
QA                                                                            2266.521739
Інше                                                                           830.000000
Робота з даними, аналіз даних                                                 1042.619048


Загальний стаж роботи за спеціальністю     3 місяці     Пів року
Вкажіть вашу основну спеціалізацію
Back-end  розробка                       798.500000  1460.338028
DevOps                                   460.000000  1699.307692
Embedded                                        NaN   485.500000
Front-end  розробка                     1100.277778   796.475410
Full Stack розробка                      573.846154   704.580000
Mobile  розробка                         485.714286   669.315789
QA                                       757.500000  1041.645161
Інше                                    1000.000000  2070.090909
Робота з даними, аналіз даних            645.416667  1155.500000

Тепер можемо подивитися, про швидкість росту ЗП в залежності від основної мови програмування. Розглядаємо лише опитувачів із робочим стажем до півроку включно.

In [86]:
                  
pivot = df_new.pivot_table(index=['Основна мова програмування'],columns=['Загальний стаж роботи за спеціальністю'], values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'], aggfunc= 'mean', observed = True)
pivot

                                        Зарплата у $$$ за місяць, лише ставка після сплати податків  \
Загальний стаж роботи за спеціальністю                                            Менше як 3 місяці
Основна мова програмування
1С                                                                             2000.000000
C                                                                               903.333333
C# / .NET                                                                      1634.242424
C++                                                                            1128.333333
Clojure                                                                        5000.000000
Dart                                                                           3200.000000
Flex / Flash / AIR                                                              215.000000
Go                                                                             4160.000000
Java                                                                           2467.575758
JavaScript                                                                     2030.800000
Kotlin                                                                         3071.666667
PHP                                                                            3101.000000
Python                                                                         2160.512821
R                                                                                      NaN
Ruby                                                                           1842.500000
Rust                                                                           3750.000000
SQL                                                                             950.000000
Salesforce Apex                                                                1675.000000
Scala                                                                                  NaN
Swift                                                                           350.000000
TypeScript                                                                     2617.482759
Інша мова                                                                      1095.000000
Мови розробки БД (PL/SQL, Transact-SQL)                                         412.500000
Не можу обрати одну основну мову                                                525.000000


Загальний стаж роботи за спеціальністю      3 місяці     Пів року
Основна мова програмування
1С                                               NaN          NaN
C                                                NaN   485.500000
C# / .NET                                 653.571429  1620.440000
C++                                       737.500000  1000.000000
Clojure                                          NaN          NaN
Dart                                             NaN   762.500000
Flex / Flash / AIR                               NaN          NaN
Go                                        400.000000  2377.777778
Java                                      645.555556  1085.437500
JavaScript                                710.000000   848.426471
Kotlin                                    437.500000   463.571429
PHP                                       650.000000  1697.777778
Python                                    951.562500  1407.488372
R                                                NaN   700.000000
Ruby                                             NaN   830.000000
Rust                                      800.000000  2000.000000
SQL                                       766.666667   888.000000
Salesforce Apex                           500.000000   612.500000
Scala                                            NaN  1016.666667
Swift                                    1000.000000   938.750000
TypeScript                               1021.923077   730.823529
Інша мова                                        NaN   800.000000
Мови розробки БД (PL/SQL, Transact-SQL)          NaN          NaN
Не можу обрати одну основну мову                 NaN   750.000000

Загальний аналіз данних показує, що дані, представлені для молодих спеціалістів (стаж роботи до 3-х місяців), мають атипічну поведінку, а саме як для мов програмування, так і для спеціалізації, середня ЗП значно вища за ЗП працівників, що працюють довше. Тому тут треба провести додатковий аналіз.